.login{
  background-color: white; 
  display: flex;
  flex-flow: column;
  padding: 10px;
  align-content:  center;
  justify-content: center;
  width: 50vw;
  height:70vh ;
  position: relative;
  left: 25%;
  top: 100px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: small ;
}
.login div {
  display: flex;
  justify-content: center;
  align-content: center;
}
.login p{
  text-align: center;
  font-weight:100;
}
.login h1{
  text-align: center;
  font-weight: 700;
}

.login input{
  background: none;
  color:#c6c6c6;
  font-size: 18px;
  padding: 5px;
  display: block;
  border: none;
  border-bottom: 1px solid #9FA3A6 ;
}
.grupo{
  position: relative;
  margin: 45px;
}
.login input:focus{
  outline: none;
  color:rgb(94,93,93)
}
 label{
  color:#9FA3A6;
  font-size: 16px;
  position:absolute;
  bottom: 0;
  left: 5px;
  top: 10px;
  transition:0.5s;
  pointer-events:none ;
}
.login input:focus~label,
.login input:valid~label{
  top: -14px;
  font-size: 12px;
  color:#4C5059 ;
}
.barra{
  width: 40vw;
}
.btn{
  font-family: "roboto";
 background-color: #4C5059 ;
 padding: 5px;
 margin: 10px auto;
 border: none;
 display: block;
 width: 40vw;
 height: 40px;
 color: white;
 font-size: 16px;
 cursor: pointer;
}
