
.grupoContainer{
 background-color: white; 
display: grid;
grid-template-rows: repeat(2,1fr);
padding: 10px;
align-content:  center;
justify-content: center;
width: 50vw;
height:65vh ;
position: relative;
left: 25%;
top: 10px;
box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
border-radius: 10px;
font-size: small ;
}

.logo {
    width: 10vw;
    left: 10vh;
    margin-left: 1vw;
    margin-top: 2vh;
  }

.grupoContainer h2{
    color: #5258Ca
}
.contenedorForm{
    display: grid;
    grid-template-rows: auto;
}
.contenedorBoton{
    display:grid;
    grid-template-rows: auto;
}