
.container{
  background-color: white; 
  display: flex;
  flex-flow: column;
  padding: 10px;
  align-content:  center;
  justify-content: center;
  width: 50vw;
  height:70vh ;
  position: relative;
  left: 25%;
  top: 100px;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  font-size: small ;
}

.btn{
  font-family: "roboto";
 background-color: #4C5059 ;
 padding: 5px;
 margin: 10px auto;
 border: none;
 display: block;
 width: 40vw;
 height: 40px;
 color: white;
 font-size: 16px;
 cursor: pointer;
}
.container div{
  display: flex;
  justify-content: center;
  align-content: center;
}
